.header {
    background-color: #D0B8AC;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  
  .logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
  }
  
  .nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding-bottom: 4px;
  }
  
  .nav a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  
  .btn {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .sign-in {
    background-color: transparent;
    color: #fff;
    border: none;
  }
  
  .sign-up {
    background-color: #fff;
    color: #D0B8AC;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
  .sign-in:hover {
    background-color: rgba(255,255,255,0.2);
  }
  
  .sign-up:hover {
    background-color: #F3D8C7;
    color: #fff;
  }